@import 'reset', 'vars';

.main {
    max-width: 1170px;
    margin: 0 auto;
}

.section {
    margin: 120px 0 60px 0;

    &__title {
        margin: 0 0 80px;
        text-align: center;
        text-transform: uppercase;
        font-family: $headerFontFamily;
    }

    & .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(370px, auto));
        gap: 15px;

        &__item {
            position: relative;
            min-width: 370px;
            min-height: 370px;
            border-radius: 40px;
            overflow: hidden;

            & .img__block {

                &.text {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 1.3vw;
                    color: #E0E0E0;
                    font-family: $textFontFamily;
                    font-size: $textFontSize;
                }

                & .img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    filter: brightness(0.3);
                    transition: all 0.3s linear;
                    overflow: hidden;
    
                    &:hover {
                        cursor: pointer;
                        filter: brightness(1);
                    }
                }
    
            }

            &.item_normal {
                grid-area: span 1 / span 1;
            }

            &.item_wide-col-right {
                grid-column: 2 / 4;
            }

            &.item_wide-col-left {
                grid-column: 1 / 3;
            }
            &.item_big {
                grid-area: span 2 / span 2;
            }
        }
    }
}